{% extends 'layout.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
    <h1>Bonjour, bienvenue sur les catégories</h1>

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <table class="table table-striped col-sm-8">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ category.id }}</th>
                        <td>{{ category.name }}</td>
                        <td>
                            <button class="btn btn-info">Modifier</button>
                            <button class="btn btn-danger">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="btn-group">
            {% if paginationOptions.previous != null %}
                <a href="/admin/categories/{{ paginationOptions.previous }}" class="btn btn-warning"><</a>
            {% else %}
                <button class="btn btn-warning" disabled><</button>
            {% endif %}

            {% for i in 1..paginationOptions.pageNb %}
                {% if i != paginationOptions.id %}
                    <a href="/admin/categories/{{ i }}" class="btn btn-warning">{{ i }}</a>
                {% else %}
                    <button class="btn btn-warning" disabled>{{ i }}</button>
                {% endif %}
            {% endfor %}

            {% if paginationOptions.next != null %}
                <a href="/admin/categories/{{ paginationOptions.next }}" class="btn btn-warning">></a>
            {% else %}
                <button class="btn btn-warning" disabled>></button>
            {% endif %}
        </div>
    </div>
{% endblock %}
