{% extends 'layout.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
    <h1>Bonjour, bienvenue sur les articles</h1>

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <table class="table table-striped col-sm-8">
                <thead>
                <tr>
                    <th scope="col">Articles</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.user }}</td>
                        <td>
                            <a class="btn btn-info" href="/admin/post/update/{{ post.id }}">Modifier</a>
                            <a class="btn btn-danger" href="">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="btn-group">
            {% if paginationOptions.previous != null %}
                <a href="/admin/posts/{{ paginationOptions.previous }}" class="btn btn-warning"><</a>
            {% else %}
                <button class="btn btn-warning" disabled><</button>
            {% endif %}

            {% for i in 1..paginationOptions.pageNb %}
                {% if i != paginationOptions.id %}
                    <a href="/admin/posts/{{ i }}" class="btn btn-warning">{{ i }}</a>
                {% else %}
                    <button class="btn btn-warning" disabled>{{ i }}</button>
                {% endif %}
            {% endfor %}

            {% if paginationOptions.next != null %}
                <a href="/admin/posts/{{ paginationOptions.next }}" class="btn btn-warning">></a>
            {% else %}
                <button class="btn btn-warning" disabled>></button>
            {% endif %}
        </div>
    </div>
{% endblock %}
