{% extends 'layout.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
    <h1>Administration des articles</h1>

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <a href="{{ root }}/admin/post/add" class="btn btn-success">Nouvel article</a>
            <br /><br />
            <table class="table table-striped col-sm-8">
                <thead>
                <tr>
                    <th scope="col">Articles</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="td-admin">{{ post.title }}</td>
                        <td class="td-admin">{{ post.category.name }}</td>
                        <td class="td-admin">{{ post.user.pseudo }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ root }}/admin/post/update/{{ post.id }}">Modifier</a>
                            <form action="{{ root }}/admin/post/delete" method="post" class="btn form-btn">
                                <input type="hidden" id="id" name="id" value="{{ post.id }}" />
                                <input type="hidden" id="indexId" name="indexId" value="{{ vars.id }}" />
                                <input type="hidden" id="token" name="token" value="{{ formCode[post.id] }}" />
                                <input type="submit" name="submit" value="Supprimer" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="btn-group">
            {% if paginationOptions.previous != null %}
                <a href="{{ root }}/admin/posts/{{ paginationOptions.previous }}" class="btn btn-warning"><</a>
            {% else %}
                <button class="btn btn-warning" disabled><</button>
            {% endif %}

            {% for i in 1..paginationOptions.pageNb %}
                {% if i != paginationOptions.id %}
                    <a href="{{ root }}/admin/posts/{{ i }}" class="btn btn-warning">{{ i }}</a>
                {% else %}
                    <button class="btn btn-warning" disabled>{{ i }}</button>
                {% endif %}
            {% endfor %}

            {% if paginationOptions.next != null %}
                <a href="{{ root }}/admin/posts/{{ paginationOptions.next }}" class="btn btn-warning">></a>
            {% else %}
                <button class="btn btn-warning" disabled>></button>
            {% endif %}
        </div>
    </div>
{% endblock %}
