{% extends 'layout.twig' %}

{% block title %}Administration des utilisateur{% endblock %}

{% block body %}
    <h1>Administration des utilisateurs</h1>

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <a href="{{ root }}/admin/user/add" class="btn btn-success">Nouvel utilisateur</a>
            <br /><br />
            <table class="table table-striped col-sm-8">
                <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Prénom et nom</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="td-admin">{{ user.pseudo }}</td>
                        <td class="td-admin">{{ user.firstName }} {{ user.lastName }}</td>
                        <td class="td-admin">
                            {% if user.mail == null %}
                                <span class="notSpecified">Non renseigné</span>
                            {% else %}
                                {{ user.mail }}
                            {% endif %}
                        </td>
                        <td class="td-admin">
                            {% if user.phone == null %}
                                <span class="notSpecified">Non renseigné</span>
                            {% else %}
                                {{ user.phone }}
                            {% endif %}
                        </td>
                        <td class="td-admin">{{ user.admin.name }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ root }}/admin/user/update/{{ user.id }}">Modifier</a>
                            <form action="{{ root }}/admin/user/delete" method="post" class="btn form-btn">
                                <input type="hidden" id="id" name="id" value="{{ user.id }}" />
                                <input type="hidden" id="indexId" name="indexId" value="{{ vars.id }}" />
                                <input type="hidden" id="token" name="token" value="{{ formCode[user.id] }}" />
                                <input type="submit" name="submit" value="Supprimer" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if paginationOptions.pageNb > 1 %}
        <div class="row">
            <div class="btn-group">
                {% if paginationOptions.previous != null %}
                    <a href="{{ root }}/admin/users/{{ paginationOptions.previous }}" class="btn btn-warning"><</a>
                {% else %}
                    <button class="btn btn-warning" disabled><</button>
                {% endif %}

                {% for i in 1..paginationOptions.pageNb %}
                    {% if i != paginationOptions.id %}
                        <a href="{{ root }}/admin/users/{{ i }}" class="btn btn-warning">{{ i }}</a>
                    {% else %}
                        <button class="btn btn-warning" disabled>{{ i }}</button>
                    {% endif %}
                {% endfor %}

                {% if paginationOptions.next != null %}
                    <a href="{{ root }}/admin/users/{{ paginationOptions.next }}" class="btn btn-warning">></a>
                {% else %}
                    <button class="btn btn-warning" disabled>></button>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
