{% extends 'blog/blog_template.twig' %}

{% block title %}Articles de {{ posts.0.user.pseudo }}{% endblock %}

{% block pagination %}
    {% if paginationOptions.previous != null %}
        <a href="/auteur/{{ posts.0.user.pseudo }}-{{ paginationOptions.previous }}" class="btn btn-warning"><</a>
    {% else %}
        <button class="btn btn-warning" disabled><</button>
    {% endif %}

    {% for i in 1..paginationOptions.pageNb %}
        {% if i != paginationOptions.id %}
            <a href="/auteur/{{ posts.0.user.pseudo }}-{{ i }}" class="btn btn-warning">{{ i }}</a>
        {% else %}
            <button class="btn btn-warning" disabled>{{ i }}</button>
        {% endif %}
    {% endfor %}

    {% if paginationOptions.next != null %}
        <a href="/auteur/{{ posts.0.user.pseudo }}-{{ paginationOptions.next }}" class="btn btn-warning">></a>
    {% else %}
        <button class="btn btn-warning" disabled>></button>
    {% endif %}
{% endblock %}
