{% extends 'layout.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <h1>Liste des articles</h1>

    <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <h6 class="card-header">{{ post.name }}</h6>
                <p class="card-body card-text">{{ post.content | excerpt }}</p>
                <a href="/post/{{ post.id }}" class="btn btn-default card-footer">Afficher l'article</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="btn-group">
            {% if previous != null %}
                <a href="/blog/{{ previous }}" class="btn btn-warning"><</a>
            {% else %}
                <button class="btn btn-warning" disabled><</button>
            {% endif %}

            {% for i in 1..pageNb %}
                {% if i != id %}
                    <a href="/blog/{{ i }}" class="btn btn-warning">{{ i }}</a>
                {% else %}
                    <button class="btn btn-warning" disabled>{{ i }}</button>
                {% endif %}
            {% endfor %}

            {% if next != null %}
                <a href="/blog/{{ next }}" class="btn btn-warning">></a>
            {% else %}
                <button class="btn btn-warning" disabled>></button>
            {% endif %}
        </div>
    </div>

{% endblock %}
