{% extends 'layout.twig' %}

{% block title %}{{ post.name }}{% endblock %}

{% block body %}
    <h1>{{ post.name }}</h1>
    <p><em>Catégorie : <a href="/category/{{ category.slug }}-1">{{ category.name }}</a></em></p>

    <p>{{ post.content | nl2br }}</p>

    <p class="date">
        {% if post.updatedAt > post.createdAt %}
            Modifié le {{ post.createdAt | date("d/m/Y à H:m:i") }}
        {% else %}
            Créé le {{ post.createdAt | date("d/m/Y à H:m:i") }}
        {% endif %}
    </p>
{% endblock %}
